/* 
    para adicionar o arquivo css no html - no elemento <hear> add o elemento link
    <link rel="stylesheet" href="introducaoCSS.css"> 
    <header id="header"> #header (usado uma unica vez na pagina)
    <header class="hearder">    .header

    box model tem 4 areas; margin (espacamento entre elementos), border (estende ao padding e o conteudo), 
    padding (e os espacamento entre a borda e o conteudo), content (e o que seu bloco representa, um texto uma imagem).
    
    padding: 1opx 5px; (o 10px e parte superior e inferior, o 5px lado esquerdo e direito)
    padding: 15px 10px 5px 0; (o 15px e parte superior*topo, 10px lado direito, 5px parte inferior, o 0 lado esquerdo)
    padding-top: 15px;
    padding-right: 10px;
    padding-botton: 5px;
    padding-left: o;

    background-color: green;
    background-image: url("bg.png");
    background-position: top;

    redimencionar imagem (height: 10% (altura); width: 10%( largura))

*/
body{
    background: #f3f3f3;
    font-family: Verdana;


}
.post{
    background: #fff;
    padding: 15px;
    border: 3px solid #0f0a0a;
    margin: 15px;
}
#title, .subtitle, .post_title{
    color:#08080c;

}
#title { 
font-size: 40px;
text-transform: uppercase;
}
a {
    text-decoration: line-through;
    color: #d6c5c5;
}
.post_title{
    font-size: 16px;
    font-style: italic;
}
.post_content{
    margin: 0;
    margin-bottom: 15px;
    border-radius: 5px;
    text-transform: capitalize;

}
.post_image{
    margin-bottom: 15px;
    height: 100%;
    width: 70%;
}
.imag_rosto{
    border-radius: 50px;
    border: 1px solid #505055;    
    height: 10%;
    width: 10%;
}